<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Join the club</h1>
    <form method="post" action="/join-the-club">
        <label id="code">Enter the secret code</label>
        <input type="text" name="code" id="code">
        <button type="submit">Enter</button>
    </form>
    <% if (locals.error) {%>
        <p><%= error %></p>
    <%}%>
</body>
</html>