<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sing up</h1>
    <form method="post" action="/sing-up">
        <label name="first">First name:</label>
        <input type="text" name="first" id="first">

        <label name="last">Last name:</label>
        <input type="text" name="last" id="last">

        <label name="username">Username:</label>
        <input type="text" name="username" id="username">

        <label name="password">Password:</label>
        <input type="password" name="password" id="password">

        <label name="confirm">Confirm password:</label>
        <input type="password" name="confirm" id="confirm">

        <button type="submit">Sing Up</button>
    </form>
</body>
</html>